html {
    background-color: #69a8ffd7;

}

body {
    width: 85%;
    margin: auto;
    background-color: #9500ff35;
    padding: 0px 0px 0px 0px;
    border: 15px groove rgb(61, 31, 212);
  }

header {
    padding: 0px;
    background-color: #2c4e5fd0;
    color: whitesmoke;
}

h1 {
    display: inline-block;
    font-size: 38px;
    padding: 5px;
    font-family: 'Rampart One', cursive;
    text-shadow: 4px 4px 4px  #4f6b92;
    background-color: rgba(194, 175, 225, 0.702);
}

nav {
    float: right;
    padding-right: 10px;
    margin-top: 25px;
    margin-right: 5px;
    font-family: 'Charmonman', cursive;
    font-size: 18px;
    
}

ul {
    list-style-type: none;
}

a:link {
    color: #ddcd39f1;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #b387f0f1;
    background-color: transparent;
    text-decoration:underline;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

li {
    display: inline-block;
    margin-left: 30px;
}

img {
    height: 150px;
    width: 100%;
    
}

section {
  display: flex;
    flex-direction: column;
}

h2 {
  color: white;
  width: 100px;
  margin: 10px;
  text-align:end;
  font-size: 25px;
}
.vr {
  border-right: 5px solid black;
  margin-right: 90%;
}

.about-me, 
.work,
.contact-me,
.resume 