html {
    background-color: #69a8ffd7;

}

/* Flex for the Body so everything is in a column */
body {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    background-color: #9500ff35;
    border: 15px groove rgb(61, 31, 212);
  }

header {
    position: relative;
    background-color: #2c4e5fd0;
}

/* H1-My Name font */
h1 {
    align-items: flex-start;
    display: inline;
    font-size: 48px;
    color: whitesmoke;
    font-family: 'Rampart One', cursive;
    text-shadow: 4px 4px 4px  #2c4e5fd0;
    padding-left: 45px;
    background-color: rgba(194, 175, 225, 0.702);
    margin-top: 0px;
}

/* Nav bar */
nav {
    align-items: flex-end;
    float: right;
    padding-right: 15px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
    
}
/*Nav bar link */
nav li a:link {
    color: #ddcd39f1;
    background-color: transparent;
    text-decoration: underline;
}

nav li a:visited {
    color: #b387f0f1;
    background-color: transparent;
    text-decoration:underline;
}

nav li a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }

nav li {
    display: inline-block;
    margin-left: 30px;
}

/* Beach image */
.beach {
  display: inline-flex;
   width: 100%;
}

/* Hello Sunshine text */
.container {
    position: relative;
    text-align: center;
    color: whitesmoke;
 
}
/* Align the bottom-right text on to beach image - text image */
.bottom-right {
  display: inline-flex;
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  background-color: #2c4e5fd0;
  border: groove;
  padding: 5px;
}


